body {
    /* Importing Font into body class */
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;

    /* Align text in center of page and set color */    
    text-align: center;
    color: #ffff;
    background-color: #a2d2ff;
}

#friend-img {
    width: 225px;
    border-radius: 50%;
    border: 6px inset #efb0c9;

}

.shadow {
    text-shadow: 0px 0px 1px rgb(5, 2, 2);
}

/* Header Div now a flexbox to align all items in it */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Age tag CSS: Margin; Background; Padding; Border*/
#age {
    margin-top: 24px;
    margin-bottom: 17px;
    background-color: #efb0c9;
    padding: 10px;
    border-radius: 10px;
}

/* Date of Birth tag CSS: Margin; Background; Padding; Border*/
#d-o-b {
    margin: 0;
    background-color: #efb0c9;
    padding: 5px;
    border-radius: 5px;
}

.gift-section {
    margin-top: 10px;
}
.gift-cover {
    width: 400px;
}
